.header {
	padding: 4.5rem .5rem;

	background: linear-gradient(318deg, #b455d0, #555bca);
}

.section-cards {
	padding: 4.5rem .5rem 3.5rem .5rem;
}

.section-cards .column {
	padding: .4rem;
}

.section-cards .btn {
	display: block;
	width: auto;
	margin: 10px 0;
}
